@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

:root {
  --line-color: rgba(0, 0, 0, 0.1);
}

.dark {
  --line-color: oklch(36.429% 0.06833 69.787);
}

@theme inline {
  --font-pixel: var(--font-pixelify-sans);
  --font-inter: var(--font-inter);
}

@utility animation-delay-* {
  animation-delay: --value(integer)ms;
}

@theme {
  --animate-single-spin: single-spin 1s linear 1 forwards;
  --animate-rotate: rotate 2s linear infinite;
  --animate-rotate-bounce: rotate-bounce 2s ease-in-out infinite;
  --animate-diagonal-sweep: diagonal-sweep 1.5s linear infinite;
  --animate-fade-in-out: fade-in-out 1.5s ease-in-out forwards;

  @keyframes fade-in-out {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    10% {
      opacity: 1;
      transform: translateY(0);
    }

    90% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  @keyframes single-spin {
    0% {
      transform: rotate(0deg)
    }

    100% {
      transform: rotate(360deg)
    }
  }

  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes rotate-bounce {

    0%,
    100% {
      transform: rotateY(0deg) translateY(0);
    }

    25% {
      transform: rotateY(90deg) translateY(-10px);
    }

    50% {
      transform: rotateY(180deg) translateY(0);
    }

    75% {
      transform: rotateY(270deg) translateY(-10px);
    }
  }

  @keyframes diagonal-sweep {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 40px 40px;
      /* match your backgroundSize */
    }
  }
}

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;

  p {
    font-family: var(--font-inter);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-pixelify-sans);
  }
}