@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

html {
  scroll-behavior: smooth;
}

:root {
  --line-color: rgba(0, 0, 0, 0.1);
}

.dark {
  --line-color: oklch(87.685% 0.1042 77.401);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-pixel: var(--font-pixelify-sans);
  --font-inter: var(--font-inter);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@utility animation-delay-* {
  animation-delay: --value(integer)ms;
}

@theme {
  --animate-single-spin: single-spin 1s linear 1 forwards;
  --animate-rotate: rotate 2s linear infinite;
  --animate-rotate-bounce: rotate-bounce 2s ease-in-out infinite;
  --animate-diagonal-sweep: diagonal-sweep 1.5s linear infinite;

  @keyframes single-spin {
    0% {
      transform: rotate(0deg)
    }

    100% {
      transform: rotate(360deg)
    }
  }

  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes rotate-bounce {

    0%,
    100% {
      transform: rotateY(0deg) translateY(0);
    }

    25% {
      transform: rotateY(90deg) translateY(-10px);
    }

    50% {
      transform: rotateY(180deg) translateY(0);
    }

    75% {
      transform: rotateY(270deg) translateY(-10px);
    }
  }

  @keyframes diagonal-sweep {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 40px 40px;
      /* match your backgroundSize */
    }
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;

  p {
    font-family: var(--font-inter);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-pixelify-sans);
  }
}